.material-half-bg .cover {

  background-color: #2A7A49;
  height: 50vh;

}
.material-half-bg {

  background-color: #96CB49;

}
.app-header{
  background-color: #2A7A49;
}
.app-header__logo{
  background-color: #96CB49;
}